.panel {
    position: absolute; /* Garante que o painel fique fixo na tela */
    top: 290px; /* Posiciona o painel abaixo do cabeçalho */
    left: 64%; /* Centraliza horizontalmente */
    transform: translateX(-50%);
    width: 600px; /* Largura fixa */
    max-width: 50%; /* Limita a largura máxima para não ultrapassar 50% da tela */
    height: 300px; /* Altura ajustável automaticamente ao conteúdo */
    max-height: calc(100vh - 270px); /* Altura máxima ajustável */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto; /* Permite rolagem vertical dentro do painel */
    border: none; /* Remove a borda */
    box-shadow: none; /* Remove a sombra */
    border-radius: 0; /* Remove as bordas arredondadas */
}

.close-btn {
    align-self: flex-end;
    background: #ff5c5c;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 50%;
    transition: background 0.3s ease;
    box-shadow: none; /* Remove o sombreamento */
}

.close-btn:hover {
    background: #ff1c1c;
}

.panel-content {
    margin-top: 10px;
}

.panel h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.panel h2 {
    margin-top: 0;
    font-size: 20px;
    color: #666;
}

.info {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #444;
}

.data-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.data-section > div {
    margin: 10px;
    text-align: center;
}

.divisoria {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.divisoria > div {
    flex: 1;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divisoria > div:last-child {
    margin-right: 0;
}

.chart-container {
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin: 0 auto 20px auto; /* Centralizando e adicionando espaçamento inferior */
    border: none; /* Remove a borda */
    border-radius: 0; /* Remove as bordas arredondadas */
    box-shadow: none; /* Remove o sombreamento */
}

.chart-container-all {
    width: 100%;
    max-width: 700px;
    height: 400px;
    margin: 0 auto 20px auto;
    border: none; /* Remove a borda */
    border-radius: 0; /* Remove as bordas arredondadas */
    box-shadow: none; /* Remove o sombreamento */
}

.pizza-container {
    width: 170%;
    max-width: 500px;
    height: 350px;
    margin: 0 auto 20px auto;
    border: none; /* Remove a borda */
    border-radius: 0; /* Remove as bordas arredondadas */
    box-shadow: none; /* Remove o sombreamento */
}

.loading, .error {
    text-align: center;
    font-size: 18px;
    color: #ff5c5c;
}

/* Adicionando responsividade */
@media (max-width: 1200px) {
    .panel {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        padding: 15px;
        max-width: 90%; /* Limita a largura máxima para telas menores */
    }

    .panel h1 {
        font-size: 20px;
    }

    .panel h2 {
        font-size: 18px;
    }

    .close-btn {
        font-size: 18px;
        padding: 8px;
    }

    .chart-container, .chart-container-all, .pizza-container {
        width: 100%;
        height: auto;
    }

    .divisoria {
        flex-direction: column;
    }

    .divisoria > div {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .divisoria > div:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .panel {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
    }

    .panel h1 {
        font-size: 18px;
    }

    .panel h2 {
        font-size: 16px;
    }

    .close-btn {
        font-size: 16px;
        padding: 6px;
    }

    .chart-container, .chart-container-all, .pizza-container {
        width: 100%;
        height: auto;
    }

    .divisoria {
        flex-direction: column;
    }

    .divisoria > div {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .divisoria > div:last-child {
        margin-bottom: 0;
    }
}


.close-btn {
    align-self: flex-end;
    background: #ff5c5c;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 50%;
    transition: background 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombreamento */
}

.close-btn:hover {
    background: #ff1c1c;
}

.panel-content {
    margin-top: 10px;
}

.panel h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.panel h2 {
    margin-top: 0;
    font-size: 20px;
    color: #666;
}

.info {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #444;
}

.data-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.data-section > div {
    margin: 10px;
    text-align: center;
}

.divisoria {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.divisoria > div {
    flex: 1;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divisoria > div:last-child {
    margin-right: 0;
}

.chart-container {
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin: 0 auto 20px auto; /* Centralizando e adicionando espaçamento inferior */
    border: 1px solid #ddd; /* Adicionando borda */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombreamento */
}

.chart-container-all {
    width: 100%;
    max-width: 700px;
    height: 400px;
    margin: 0 auto 20px auto;
    border: 1px solid #ddd; /* Adicionando borda */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombreamento */
}

.pizza-container {
    width: 170%;
    max-width: 500px;
    height: 350px;
    margin: 0 auto 20px auto;
    border: 1px solid #ddd; /* Adicionando borda */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombreamento */
}

.loading, .error {
    text-align: center;
    font-size: 18px;
    color: #ff5c5c;
}

/* Adicionando responsividade */
@media (max-width: 1200px) {
    .panel {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        padding: 15px;
        max-width: 90%; /* Limita a largura máxima para telas menores */
    }

    .panel h1 {
        font-size: 20px;
    }

    .panel h2 {
        font-size: 18px;
    }

    .close-btn {
        font-size: 18px;
        padding: 8px;
    }

    .chart-container, .chart-container-all, .pizza-container {
        width: 100%;
        height: auto;
    }

    .divisoria {
        flex-direction: column;
    }

    .divisoria > div {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .divisoria > div:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .panel {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
    }

    .panel h1 {
        font-size: 18px;
    }

    .panel h2 {
        font-size: 16px;
    }

    .close-btn {
        font-size: 16px;
        padding: 6px;
    }

    .chart-container, .chart-container-all, .pizza-container {
        width: 100%;
        height: auto;
    }

    .divisoria {
        flex-direction: column;
    }

    .divisoria > div {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .divisoria > div:last-child {
        margin-bottom: 0;
    }
}
